################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MineResultTest/bin/Debug
/MineResultTest/obj/Debug
/packages
/RedGateTechInterview/bin/Debug
/RedGateTechInterview/obj/Debug
/RedGateTechInterview/obj/Release
/MineResultTest/obj/Release
/Guru.MineSweeper/bin/Debug
/Guru.MineSweeper/obj
/Guru.MineSweeper.Test/bin/Debug
/Guru.MineSweeper.Test/obj
