################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/TestResults
/Guru.MineSweeper/bin
/Guru.MineSweeper/obj
/Guru.MineSweeper.Test/bin
/Guru.MineSweeper.Test/obj
